  
.Container_Info{
  width:80%;
  height: 60px;
  box-sizing: border-box;
  color: black;
  border-bottom: darkblue solid 3px;
  border-left:darkblue solid 1px;
  font-family:Georgia, "Times New Roman", Times, serif;
  margin-top: 50px;
}
.Container_Info:hover{
    padding-top: 3px;
    color: gold;
    cursor: pointer;
    transition: 0.3s;
}
p{
  margin:0px 0px 0px 10px;
  font-size: 20px;
}